body {
  background-color: black;
  margin: 0;
  width: 100%;
  position: relative;
}
.background-container {
  background-image: url(img/prayer\ background.png);
  background-size: 120% 150%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute; /* 화면을 덮을 수 있도록 절대 위치 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; /* 배경을 가장 뒤로 */
}
div.text-container {
  height: 5600px; /* 원하는 높이값 설정 */
}
a.X {
  display: inline-block;
  transform: rotate(90deg) translate(496px, -37px);
  transform-origin: left;
  position: fixed;
  top: -130px;
  left: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 220px;
  color: #dfc800;
  z-index: 1;
  text-decoration: none;
}
@media (max-width: 300px) {
  a.X {
    font-size: 110px;
    top: -330px;
    left: 20px;
  }
}
.text-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.vertical-text {
  writing-mode: vertical-rl; /* 텍스트 방향: 오른쪽에서 왼쪽으로 */
  text-orientation: upright; /* 문자가 똑바로 표시되도록 설정 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  color: #dfc800; /* 텍스트 색상 (HEX 코드) */
  z-index: 1;
  /* mix-blend-mode: difference; */
}
.rotated-text-en {
  font-size: 190px;
}
.rotated-text-en {
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: top;
  position: fixed;
  top: 190px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 130px;
  color: #dfc800;
  z-index: -1;
}
@media (max-width: 300px) {
  .rotated-text-en {
    font-size: 80px;
    top: 120px;
  }
}

.back-button {
  position: fixed;
  bottom: 20px;
  left: 50%; /* 화면의 중앙으로 이동 */
  transform: translateX(-50%); /* 수평 중앙 정렬 */
  text-align: center;
  z-index: 1;
}
.back-button-img {
  width: 90%;
}

/* .vertical-text {
  font-size: 8vw; /* 작은 화면에서 텍스트 크기 줄이기 */
/* } */

@media (max-width: 564px) {
  .text-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    top: 270px;
    z-index: 1;
  }
}
@media (min-width: 910px) {
  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 270px;
    z-index: 1;
  }
}
@media (min-width: 910px) {
  .vertical-text {
    font-size: 90px;
  }
}
