body {
  background-color: rgb(255, 255, 255);

  margin: 0;
  width: 100%;

  position: relative;
}
.background-container {
  background-image: url(img/backgroung.png);
  background-size: 120% 150%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute; /* 화면을 덮을 수 있도록 절대 위치 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; /* 배경을 가장 뒤로 */
}
div.text-container {
  height: 5600px; /* 원하는 높이값 설정 */
}
div.title {
  position: fixed;
  top: -70px; /* 화면의 위쪽에서 20px 떨어진 위치 */
  right: 30px;
  font-family: "Zen Antique Soft", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 260px;
  line-height: 374px;
  /* identical to box height */
  letter-spacing: -0.24em;

  color: #ffffff;

  text-shadow: -1px 0px rgb(0, 0, 0), 0px 1px rgb(0, 0, 0), 1px 0px rgb(0, 0, 0),
    0px -1px rgb(0, 0, 0);
}
@media (max-width: 425px) {
  div.title {
    font-size: 150px;
    top: -120px;
  }
}
@media (max-width: 258px) {
  div.title {
    font-size: 50vw;
    top: -130px;
    right: 20px;
  }
}
.text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 717px) {
  .text-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
  }
}
.vertical-text {
  writing-mode: vertical-rl; /* 텍스트 방향: 오른쪽에서 왼쪽으로 */
  text-orientation: upright; /* 문자가 똑바로 표시되도록 설정 */
  font-family: "Zen Antique Soft", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 8vw;
  color: #ffffff; /* 텍스트 색상 (HEX 코드) */
  z-index: 1;
  mix-blend-mode: difference;
}
@media (max-width: 717px) {
  .vertical-text {
    font-size: 60px;
    top: 270px;
  }
}
.back-button {
  position: fixed;
  bottom: 20px;
  left: 50%; /* 화면의 중앙으로 이동 */
  transform: translateX(-50%); /* 수평 중앙 정렬 */
  text-align: center;
  z-index: 1;
}
.back-button-img {
  width: 90%;
}

/* .vertical-text {
  font-size: 8vw;
} */
